*{
    font-family: 'Roboto', sans-serif;
}
header{
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d2d86e;
}
header h1{
    margin: 0em;
}
main{
    
    margin: 30px 0;
}
main section{
    display: flex;
    padding: 30px 0;
}
form{
    display: flex;
    flex-direction: column;
}
form input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 197);
    outline: none;
    margin: 10px 0;
}
form label{
    margin-top: 10px;
}
form button{
    width: 130px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #d2d86e;
    border: none;
    outline: none;
    transition: 1s;
}
form button:hover{
    background-color: #95956e;
    color: #efefef;
    transition: 0.5s;
}
.wrapper{
    padding: 0 100px;
}
.width-50{
    width: 50%;
}
.notification {
	position: relative;
	color: #FFF;
	border-radius: 5px;
	padding: 10px 30px 10px 10px;
	pointer-events: none;
	width: 85%;
}
.notification::after {
	content: "\2716";
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translate(0, -50%);
	pointer-events: all;
	cursor: pointer;
}
.notification.green {
	background-color: #ccda46;
}
.notification.red {
	background-color: #f65c78;
}
.nodisplay {
	display: none;
}
.display {
	display: block;
}
.addProperty form{
    width: 100%;
}
.addProperty form input{
    width: 100%;
}
.addProperty textarea{
    width: 100%;
    outline: none;
    padding: 10px;
}
.addProperty select{
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    outline: none;
}

